.view-mobile-base, .view-mobile-base * {
       box-sizing: border-box;
}
  .view-mobile-base {
      background: #ffffff;
      width: 101.5vw;
       height: 100vh;
       position: relative;
      overflow: hidden;
      }
  
   .background, .rectangle-3 {
       background: #010101;
       width: 100%;
       height: 100%;
       position: absolute;
      }
      .background {
       left: -1%;
       box-shadow:  0px 4px 4px 0px rgba(0, 0, 0, 0.25);
       overflow: hidden;
      }
   .comunidad, .canciones, .canciones2 {
      width: 100%; 
      height: 110%;
      position: absolute;
      left: 5%;
      top: 62%;
      overflow: hidden;
      }
      .canciones {
       top: 1.5%;
       left: 0%;
       }
       .canciones2 {
       top: 4%;
       left: 0%;
       }
   .rectangle-11, .rectangle-112 {
      background: rgba(61, 61, 61, 0.40);
      position: absolute;
      }
      .rectangle-11 {
       width:90%;
      height: 33%;
      }
      .rectangle-112 {
       width: 90%;
        height: 40%;
        left: 0.5%;
       }
   .de-la-comunidad, .volver-a-escuchar {
      color: #ffffff;
      text-align: left;
      font: 400 150% 'Inter-Regular', sans-serif;
      position: absolute;
      left: 2%;
      top:0.5%;
      }
   ._6, ._3 {
       width: 25%;
       height: 14%;
       position: absolute;
       overflow: hidden;
      }
      ._6 {
       left: 60%;
      top: 20.5%;
      height: 7%;
      }
      ._3 {
       left: 60%;
       top: 4%;
       }
  
   ._5, ._4, ._2, ._1 {
       width: 25%;
       height: 14%;
       position: absolute;
       overflow: hidden;
      }
      ._5 {
       left: 33%;
      top: 20.5%;
      height: 8%;
      }
      ._4 {
       left: 5.5%;
      top: 20.5%;
      height: 8%;
      }
      ._2 {
       left: 33%;
       top: 4%;
       }
       ._1 {
       left: 5.5%;
       top: 4%;
       }
  
   .imagen-1 {
      width: 100%;
      height: 85%;
      position: absolute;
      }
  
   .carpeta-3, .carpeta-2, .carpeta {
      color: #ffffff;
      text-align: left;
      font: 400 150% 'Inter-Regular', sans-serif;
      position: absolute;
      }
      .carpeta-3 {
       left: 2%;
       top: 84%
       }
      .carpeta-2 {
       left: 2%;
       top: 84%;
       }
       .carpeta {
       left: 2%;
       top: 84%;
       }
       
       .seleccion {
       width: 100%;
       height: 100%;
       position: absolute;
       left: 4.5%;
       top:20%;
       overflow: hidden;
       } 
   
      .cancion {
       color: #ffffff;
       text-align: left;
       font: 400 150% 'Inter-Regular', sans-serif;
       position: absolute;
       left: 6px;
       top: 84%;
       }
   ._62, ._52, ._42, ._12, ._22, ._32 {
       width: 25%;
       height: 15%;
       position: absolute;
       overflow: hidden;
       }
      ._62 {
       left: 60%;
       top: 17%;
       }
       ._52 {
       left: 33%;
       top: 17%;
       }
       ._42 {
       left: 5.5%;
       top: 17%;
       }
      ._12 {
       left: 5.5%;
       top: 0%;
       }
       ._22 {
       left: 33%;
       top: 0%;
       }
       ._32 {
       left: 60%;
       top: 0%;
       }
   .opciones {
       width: 100%;
       height: 100%;
       position: absolute;
       left: 1%;
       top: 12%;
       overflow: hidden;
      }
      .rectangle-10, .rectangle-6, .rectangle-4, .rectangle-5 {
      background: rgba(61, 61, 61, 0.40);
      position: absolute;
      }
      .rectangle-10 {
       width: 100%;
      height: 6.5%;
      }
       .rectangle-6, .rectangle-5, .rectangle-4 {
       width: 21%;
       height: 4%;
       top: 1.5%;
       }
       .rectangle-6 {
       left: 73%;
       }
       .rectangle-4 {
       left: 39%;
       }
       .rectangle-5 {
       left: 4%;
       }
      .frame-3, .frame-2{
       width: 100%;
       height: 100%;
       position: absolute;
       overflow: hidden;
       }
       .frame-3 {
       left: 35%;
       top: 1.5%;
       }
       .frame-2 {
       left: 4%;
       top: 1%;
       }
   .relajarze, .dormir, .energia {
      color: #ffffff;
      text-align: left;
      font: 400 150% 'Inter-Regular', sans-serif;
      position: absolute; 
      left: 30%;
       top: 35%;
      }
   .top {
      width: 100%;
      height: 12%;
      position: absolute;
      left: 1%;
      overflow: hidden;
      }
   .rectangle-2 {
      border-style: solid;
      border-color: #000000;
      border-width: 1px;
      width: 100%;
      height: 100%;
      position: absolute;
       }
   .vector, .vector2 {
      height: auto;
      position: absolute;
      overflow: visible;
      }
      .vector {
       right: 5.32%;
       left: 89.08%;
       width: 5.6%;
       bottom: 33.78%;
       top: 39.19%;
       height: 27.03%;
      }
      .vector2 {
       right: 15.55%;
       left: 79.55%;
       width: 4.9%;
       bottom: 35.82%;
       top: 40.54%;
       height: 23.64%;
      }
   .music {
      color: #ffffff;
      text-align: left;
      font: 400 350% 'Inter-Regular', sans-serif;
      position: absolute;
      left: 19%;
      top: 40%;
      }
   .ellipse-1 {
       border-radius: 50%;
       width: 15%;
       height: 90%;
       position: absolute;
       left: 1%;
       top: 5%;
       }