<!-- For more settings use the AutoHTML plugin tab ... --> 
<div class="view-mobile-biblioteca" >
    <div class="background" >
        <div class="rectangle-3" > </div>
        <div class="canciones" >
            <div class="cancion2" >
                <div class="rectangle-2" > </div>
                <div class="frame-6" >
                    <img class="rectangle-9" src="../../assets/img/Portada 8.png" />
                    <div class="titulo" > Titulo </div>
                    <div class="autor" > Autor </div>
                </div>
                <div class="_3-00" > 3:00 </div>
            </div>
            <div class="cancion3" >
                <div class="rectangle-2" ></div>
                <div class="frame-6" >
                    <img class="rectangle-9" src="../../assets/img/Portada 7.png" />
                    <div class="titulo" > Titulo </div>
                    <div class="autor" > Autor </div>
                </div>
                <div class="_3-00" > 3:00 </div>
            </div>
            <div class="cancion4" >
                <div class="rectangle-2" > </div>
                <div class="frame-6" >
                    <img class="rectangle-9" src="../../assets/img/Portada 6.png" />
                    <div class="titulo" > Titulo </div>
                    <div class="autor" > Autor </div>
                </div>
                <div class="_3-00" > 3:00 </div>
            </div>
            <div class="cancion5" >
                <div class="rectangle-2" > </div>
                <div class="frame-6" >
                    <img class="rectangle-9" src="../../assets/img/Portada 5.png" />
                    <div class="titulo" > Titulo </div>
                    <div class="autor" > Autor </div>
                </div>
                <div class="_3-00" > 3:00 </div>
            </div>
            <div class="cancion6" >
                <div class="rectangle-2" > </div>
                <div class="frame-6" >
                    <img class="rectangle-9" src="../../assets/img/Portada 4.png" />
                    <div class="titulo" > Titulo </div>
                    <div class="autor" > Autor </div>
                </div>
                <div class="_3-00" > 3:00 </div>
            </div>
            <div class="cancion7" >
                <div class="rectangle-2" > </div>
                <div class="frame-6" >
                    <img class="rectangle-9" src="../../assets/img/Portada 3.png" />
                    <div class="titulo" > Titulo </div>
                    <div class="autor" > Autor </div>
                </div>
                <div class="_3-00" > 3:00 </div>
            </div>
            <div class="cancion8" >
                <div class="rectangle-2" > </div>
                <div class="frame-6" >
                    <img class="rectangle-9" src="../../assets/img/Portada 2.png" />
                    <div class="titulo" > Titulo </div>
                    <div class="autor" > Autor </div>
                </div>
                <div class="_3-00" > 3:00 </div>
            </div>
            <div class="cancion9" >
                <div class="rectangle-2" > </div>
                <div class="frame-6" >
                    <img class="rectangle-9" src="../../assets/img/Portada.png" />
                    <div class="titulo" > Titulo </div>
                    <div class="autor" > Autor </div>
                </div>
                <div class="_3-00" > 3:00 </div>
            </div>
        </div>
      
        <div class="opciones-top" >
            <div class="rectangle-22" > </div>
            <div class="opciones" >
                <div class="frame-4" >
                    <div class="rectangle-6" ></div>
                    <div class="albumes" > Albumes </div>
                </div>
                <div class="frame-5" >
                    <div class="rectangle-5" > </div>
                    <div class="canciones2" > Canciones </div>
                </div>
                <div class="frame-2" >
                    <div class="rectangle-52" ></div>
                    <div class="playlist" > Playlist </div>
                </div>
            </div>
        </div>
    </div>
</div>